<table class="table table-sm table-striped">
  <tr>
    <th>Title</th>
    <th>Category</th>
    <th>Price</th>
    <th>Publisher</th>
    <th>Ratings</th>
  </tr>
  <tr *ngFor="let book of books">
    <td>{{ book.title }}</td>
    <td>{{ book.category }}</td>
    <td>{{ book.price }}</td>
    <td>{{ book.publisher?.title || "None" }}</td>
    <td>{{ book.ratings?.length || 0 }}</td>
  </tr>
</table>

<button class="btn btn-primary m-1" (click)="createBook()">
  Create Book
</button>
<button class="btn btn-primary m-1" (click)="createBookAndPublisher()">
  Create Book and Publisher
</button>
<hr />
<!-- Replacement Buttons -->
<button class="btn btn-primary m-1" (click)="replaceBook()">
  Replace Book
</button>
<button class="btn btn-primary m-1" (click)="replacePublisher()">
  Replace Publisher
</button>
<hr />
<button class="btn btn-primary m-1" (click)="updateBook()">
  Update Book
</button>
<button class="btn btn-primary m-1" (click)="deleteBook()">
  Delete Book
</button>
<button class="btn btn-primary m-1" (click)="deletePublisher()">
  Delete Publisher
</button>
